.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content, .menu-container, .side-bar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu-items-container, .side-bar-items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}

.menu-item {
  width: 100%;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
}

.avatar {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.tweets-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  border: 1px solid gray;
  justify-content: space-evenly;
  margin: 10px;
}

.tweet-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-action {
  cursor: pointer;
  margin-right: 10px;
}
