.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.main-content, .menu-container, .side-bar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-content {
  flex-direction: column;
}

.menu-items-container, .side-bar-items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-item {
  width: 100%;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
}

.avatar {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.tweets-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: flex-start;
  align-items: flex-start;
  border-top: .1px solid lightgray;
  border-right: .1px solid lightgray;
  border-left: .1px solid lightgray;
  justify-content: space-evenly;
}

.tweet:last-of-type {
  border-bottom: .1px solid lightgray;
}

.tweet-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-action {
  cursor: pointer;
  margin-right: 10px;
}

.new-tweet {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.new-tweet-input {
  flex: 1;
}

.new-tweet-button {
  border-radius: 20px;
  background-color: cornflowerblue;
  color: white;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
}
